<% include ./partials/header %>
  <div class="container">
    <div class="w-50 mx-auto">
      <form action="/blogs" method="POST">
        <div class="form-group">
          <label for="postTitle">Post Title</label>
          <input type="text" class="form-control" id="postTitle" placeholder="Title" name="post[title]">
        </div>
        <div class="form-group">
          <label for="postImage">Post Image</label>
          <input type="text" class="form-control" id="postImage" placeholder="Image url" name="post[image]">
        </div>
        <div class="form-group">
          <label for="postDescription">Description</label>
          <textarea rows="10" class="form-control" id="postDescription" name="post[description]"> </textarea>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
  </div>


  <% include ./partials/footer %>